html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.whatsapp-icon{
  font-size: 25.0px;
  background-color: green;
  color: #ffff;
  padding:0.5rem;
  margin:0.5rem;
  border-radius:100%;
}
.search-icon{
    font-size: 25.0px;
    background-color: gray;
    color: #000;
    padding:0.5rem;
    margin:0.5rem;
    border-radius:100%;
}
.admission-button{
    margin: 0.5rem;
}
.opening-image-slider{
    padding: 0px;
}
.ann{
    border: solid;
    border-right: 0;
    background-color:#F0EEED;
    border-color: #F0EEED;
    color: blue;
    font-size:1.2rem;
    font-weight:500;
    text-align: center;
}
.nucat-link{
    border: solid;
    border-color: #F0EEED;
}
#section-below-carousel{
    margin:5% 0%;
}
#nu-link{
    list-style: circle;
    margin-bottom:0;
    text-decoration: none;
    color: red;
}
.both-ann-nucat{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#section-below-admission{
    background-color:#F2F2F2;
    margin: 6% 0px 10%;
}
.yt-vdo{
    border-radius: 25px;
    margin:15%;
}
.carousel2{
    width:20rem;
    margin: 15%;
}
.carousel2-indicators{
    color: #000;
}
.whatsonnitteimage{
    position: relative;
    top:20px;
    height:75%;
    border-radius: 25px;
}
#whatsonnittetitle{
    color: grey;
    text-align: center;
    font-size: 3rem;
    position: relative;
    bottom:1.5rem;
}
.academia-pavilion{
    padding: 5% 2% ;
    color: #000;
    font-weight:600;
    font-size: 1.1rem;
}
.academia-date{
    background-color:#e7e625;
    border-radius:0 0 25px 25px;
    padding:0;
    text-align: center;
    background-position: center;
}
#number19{
    font-size: 3rem;
}
#yr2023{
    margin-bottom:15% ;
}
.academia-div{
 padding-left: 2%;
}
.readmore-btn{
    text-decoration: none;
}
.readmore-btn:hover{
    color:#e7e625;
}
.two-buttons-below-academia{
    
    margin: 5% 1%;
    border-radius: 25px;
    padding:1% 3%;
}
.two-buttons-below-academia:hover{
    color:#567189;
    background-color: #F0EEED;
   
}
#academia-section{
background-color:red;
}

.vectorimage{
    height:15rem;
    padding:1% 50% 0% 0%;
}
.world-of-learning-text{
    font-size: 4rem;
    color:gray ;
    font-weight: 300;
    padding:27% 0 0% 18%;
}
#yellow-learning{
    color:#e7e625;
}
.worldoflearningimage{
    margin: 2% 0 0 10%;
    height:25rem;
    border-radius: 25px;
}
.worldoflearning-btns{
    font-weight:400;
    width: 75%;
    height:85%;
    border-radius: 25px;
    color: #000;
    margin: 1rem 5rem 0 0;
}
.worldoflearning-btns:hover{
    color:black;
}
.worldoflearning-btns-lower3{
    background-color: #e7e625;
    border-radius: 0%;
    color: #000;
    font-weight: 500;
    border: none;
    width: 20%;
    margin: 3rem 0.2rem;
}
.worldoflearning-btns-lower3:hover{
    color: #ffff;
    background-color: blue;
    border: none;
    
}
.buttons-wol{
    padding:1%;
}
.icon-btns-5{
    text-align: center;
    margin:8% 7% 5% 1%;
    padding:1%;
}
.icon-btns-style{
    font-size:1.25rem;
    text-decoration: none;
    color:darkblue;
   padding: 1%;
   
}
.icon-btns-style:hover{
    color:#e7e625;
}
.icons-5{
  font-size:2.5rem;
    background-color: #F0EEED;
    border-radius: 100%;
    padding-top:0.7rem;
    height:4.5rem;
    width:5.5rem;
}

.carousel-exp{
  background:none;
  display:inline-block;
  width:80%;
  position:relative;
  top:6rem;
}

.carousel-cell-exp{
  width:27%;
  height:215px;
  counter-increment: gallery-cell;
}

.collaborations{
    padding:9rem 0rem 7rem;
    text-align: center; 
    background-color: hsl(50, 33%, 25%);
}
.read-more-collaboration{
    background-color: #fff;
    color:#000;
    border-radius: 25px;
}
.read-more-collaboration:hover{
    border-color:#fff;
    color: white;
    background-color: hsl(50, 33%, 25%) ;
}
.nitte-institute-names{
    color: #fff;
    font-size:0.85rem;
}

.unilogo-box{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height:17rem;
    width:80%;
    margin:auto;
    border-radius:35px;
    position: relative;
    bottom:3rem;
    background-color: #fff;
}
.uni-logos{
    height:9rem;
    margin:3rem 0;
}

.rni-heading{
color: gray;
font-size:3.75rem;
font-weight: 310;
}

.rni-btns4{
    margin:0.75rem;
    font-size: 1.1rem;
    font-weight: 500;
    width:80%;
    border-radius: 25px;
    border-width:2px;
    color: darkblue;
    border-color:darkblue;
}
.rni-btns4:hover{
    color:#fff;
    border-color:darkblue;
    background-color: darkblue;
}
.rni-heading-and-buttons{
    text-align: left;
    margin: auto;
    padding: 100px 50px 50px;
    width:58%;
    overflow-y: auto;
    height:40rem;
    direction: rtl;
}
#sustainable-nitte-paragraph{
    font-size:1.25rem;
    line-height:2;
    font-weight: 360;
    padding:3rem 0 2rem;
    text-align: justify;
}
#sus-nitte-all{
    position: relative;
    left:1.4rem;
    padding:190px 150px;
    overflow-y: auto;
    height:61.5rem;
}
.sus-nt-btn{
    color:white;
    background-color: gray;
    border-radius: 35px;
    padding:0.5rem 1rem;
}
.sus-nt-btn:hover{
    color:black;
    border-color: #000;
    background-color: #fff;  
}

footer{
    background-color: #000;
    color: #fff;
}
.footer-icons {
    font-size:1rem;
    color: #fff;
    padding-right: 0.5rem;
}
.footer-ph-and-mail{
    text-decoration: none;
    color: #fff;
}
.footer-links:hover{
    color: #e7e625;
}
.footer-ph-and-mail:hover{
    color: #e7e625;
}
.footer-extra-links li{
    list-style-type: none;
    display:inline-block;
    width:15%;
    padding: 0;
    margin: 0;
}
.footer-extra-links li:hover{
    color: yellow;
}
.socials-icons{
    font-size:1.75rem;
    padding-right:1.5rem;
}
.socials-icons:hover{
    color: #e7e625;
}

.carousel-exp1{
    background:none;
    width:90%;
    height:200px;
    position: relative;
    left:5rem;
  }
  
  .carousel-cell-exp1{
    width:25%;
    height:300px;
    counter-increment: gallery-cell;
  }